.Aries{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.AriesLeft{
    width:60%;
}
.AriesRight{
    width:20%;
}
.RightDiv{
    background-color: white;
    border-radius: 15px;
}
.AriesHead{
    margin-top: 5%;
}
.AriesHeading{
    text-align: center;
      font-family: Minion Pro;
      text-decoration: underline;
  font-style: normal;
  font-weight: normal;
    color: #ecc598;
    margin-bottom: 5%;
}
.head{
      font-family: Minion Pro;
  font-style: normal;
  font-weight: normal;
    color: #ecc598 !important;
    margin-bottom: 4%;
}
.AriesPara{
      font-family: Montserrat;
        // font-family: Minion Pro;
  font-style: normal;
  font-weight: normal;
    color: #ffffff;
    font-size: 14px;
    line-height: 30px;
    text-align: justify;
}
.btn{
    margin-bottom: 2%;
    width:150px;
    margin-right: 2%;
    height:60px;
}